question.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"/>
    <link rel="stylesheet" href="fonts/stylesheet.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>F.A.Q.</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <div class="right-side"><a href="#"><img src="img/logo.svg"/></a>
            <nav>
              <ul>
                <li><a class="active" href="#">Рестораны</a></li>
                <li class="target-drop-box"><a href="#">Меню</a>
                  <ul class="drop-menu">
                    <li><a>
                        <div class="img"><img src="img/svg/logo1.svg"/></div>
                        <div>
                          <p>1. Бухара Ассорти, ул. Ибраимова, 105</p><span>Тел.: +996 555 300 200 (с 11:00 до 02:00)</span>
                        </div></a></li>
                    <li><a>
                        <div class="img"><img src="img/svg/logo1.svg"/></div>
                        <div>
                          <p>1. Бухара Ассорти, ул. Ибраимова, 105</p><span>Тел.: +996 555 300 200 (с 11:00 до 02:00)</span>
                        </div></a></li>
                    <li><a>
                        <div class="img"><img src="img/svg/logo1.svg"/></div>
                        <div>
                          <p>1. Бухара Ассорти, ул. Ибраимова, 105</p><span>Тел.: +996 555 300 200 (с 11:00 до 02:00)</span>
                        </div></a></li>
                    <li><a>
                        <div class="img"><img src="img/svg/logo2.svg"/></div>
                        <div>
                          <p>1. Бухара Ассорти, ул. Ибраимова, 105</p><span>Тел.: +996 555 300 200 (с 11:00 до 02:00)</span>
                        </div></a></li>
                    <li><a>
                        <div class="img"><img src="img/svg/logo2.svg"/></div>
                        <div>
                          <p>1. Бухара Ассорти, ул. Ибраимова, 105</p><span>Тел.: +996 555 300 200 (с 11:00 до 02:00)</span>
                        </div></a></li>
                  </ul>
                </li>
                <li><a href="#">  Доставка</a></li>
                <li><a href="#">Избранное</a></li>
                <li><a href="#">F.A.Q</a></li>
              </ul>
            </nav>
          </div>
          <div class="left-side"><a class="search"></a>
            <div class="search-dropdown">
              <form action="">
                <input placeholder="Введите текст"/>
                <div class="select"><span class="placeholder">Выберите ресторан</span>
                  <ul>
                    <li data-value="1"><span>Все рестораны</span></li>
                    <li data-value="2"><span>1.	Кореана Family, ул. Юнусалиева, 29</span>
                      <p>Тел.: +996 555 300 200 (с 11:00 до 02:00)</p>
                    </li>
                    <li data-value="2"><span>2.	Кореана BBQ, ул. Орозбекова, 68</span>
                      <p>Тел.: +996 555 300 200 (с 11:00 до 02:00)</p>
                    </li>
                    <li data-value="3"><span>3.	KIM’S, ул. Юнусалиева, 98/2</span>
                      <p>Тел.: +996 555 300 200 (с 11:00 до 02:00)</p>
                    </li>
                    <li data-value="4"><span>4.	KIM’S, ул. Юнусалиева, 98/2</span>
                      <p>Тел.: +996 555 300 200 (с 11:00 до 02:00)</p>
                    </li>
                  </ul>
                  <input type="hidden" name="changeme"/>
                </div>
                <button></button>
              </form>
            </div>
            <div class="basket target-drop-basket" uk-tooltip="title: Корзина">
              <p>25</p>
            </div>
            <div class="drop-menu-basket">
              <div>
                <div class="img"><img src="img/png/dish2.png"/></div>
                <div class="basket-dish">
                  <p>Суши</p>
                  <table>
                    <tr>
                      <td>2 шт</td>
                      <td>350 сом</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div>
                <div class="img"><img src="img/png/dish.png"/></div>
                <div class="basket-dish">
                  <p>Суши</p>
                  <table>
                    <tr>
                      <td>2 шт</td>
                      <td>350 сом</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div>
                <div class="img"><img src="img/png/dish.png"/></div>
                <div class="basket-dish">
                  <p>Суши</p>
                  <table>
                    <tr>
                      <td>2 шт</td>
                      <td>350 сом</td>
                    </tr>
                  </table>
                </div>
              </div>
              <table class="total-basket-sum">
                <tr>
                  <td>Итого: 6 шт</td>
                  <td>1050 сом</td>
                </tr>
              </table><a class="greenBtn" href="index.html">Перейти в козину</a>
            </div>
            <!--для регистр-х пользователей-->
            <div class="user"><img src="img/svg/gold.svg"/></div>
            <ul class="user-drop-menu">
              <li><a class="user" href="#">Личный кабинет</a></li>
              <li><a class="user favorite" href="#">Избранное</a></li>
              <li><a class="out">Выйти</a></li>
              <li class="drop-out"><a class="greenBtn drop-signOut">Отмена</a><a class="greenBtn drop-signOut">Выйти</a></li>
            </ul>
            <!--для  не регистр-х пользователей-->
            <!--.loginSignIn
            p.logIn Вход /
            p.signIn Регистрация
            
            -->
          </div>
        </div>
      </div>
      <div class="fixed-registration registration">
        <h3>Регистрация</h3>
        <div class="bonus">
          <div>
            <p>10%</p><span>Ваш бонус</span>
          </div>
          <div><img src="img/svg/standart.svg"/></div>
          <div>
            <p>100</p><span>Ваши баллы</span>
          </div>
        </div>
        <div class="form">
          <form action="">
            <input placeholder="Имя"/>
            <input placeholder="+996 (xxx) xxx xxx"/>
            <div class="adress">
              <input placeholder="Улица*"/>
              <input placeholder="Дом*"/>
              <input placeholder="Кв/офис"/>
            </div>
            <input placeholder="Дата рождения"/>
            <div class="gender-box">
              <p>Ваш пол</p>
              <div class="gender">
                <div>
                  <input type="radio" name="gender" id="male" checked="checked"/>
                  <label for="male"></label><span>Мужчина</span>
                </div>
                <div>
                  <input type="radio" name="gender" id="female"/>
                  <label for="female"></label><span>Женщина</span>
                </div>
              </div>
            </div>
          </form><a class="discount">Условия участия в бонусной программе</a>
          <button class="greyBtn">Сохранить</button>
        </div>
      </div>
      <div class="fixed-registration enter-form">
        <div class="img"><img src="img/png/logo3.png"/></div>
        <div class="form">
          <div class="checkbox">
            <input type="checkbox"/><span>Принимаю условия конфиденциальности и политику безопасности</span>
          </div>
          <input placeholder="+996 (xxx) xxx xxx" type="number"/>
          <button class="greenBtn signInNext">Далее</button>
        </div>
      </div>
      <div class="fixed-registration enter-code">
        <div class="img"><img src="img/png/logo3.png"/></div>
        <div class="form">
          <div class="send">Код был отправлен на номер <p> +996 00 00000 </p></div>
          <div class="number">Неверный номер?</div>
          <div class="code">Введите код подтверждения</div>
          <input placeholder="Код" type="number"/>
          <button class="greenBtn signInCodeSend">Отправить</button>
          <div class="no-resive">Не пришло SMS сообщение?</div>
          <button class="greyBtn">
            <p>Отправить снова</p><span id="timerCount">0:18</span>
          </button>
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <div id="question">
          <div class="sidebar">
            <div class="logo"><img src="img/png/logo2.png"/></div>
            <div class="question-side"><a class="delivery" href="#">Условия доставки</a><a class="active" href="#">Вопрос 1</a><a class="active" href="#">Вопрос 2</a><a href="#">Вопрос 3</a><a href="#">Вопрос 4</a><a href="#">Вопрос 5</a><a href="#">Вопрос 6</a><a href="#">Вопрос 7</a></div>
          </div>
          <div class="main">
            <div class="breadcrumbs">
              <div><a href="#">Главная /</a><a href="#">Корзина /</a></div>
              <div>
                <p>Call центр:</p><a href="tel:0 556 300 200">0 778 300 200 /</a><a href="tel:0 556 300 200">0 778 300 200 /</a><a href="tel:0 556 300 200">0 708 300 200</a>
              </div>
            </div>
            <div class="question-header">
              <h1>F.A.Q.</h1>
            </div>
            <div class="question-content">
              <h5>  Условия доставки</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="item-modal">
      <div class="cart-group">
        <div class="right-side">
          <div class="img"><img src="img/png/dish2.png"/></div>
          <div class="like"></div>
        </div>
        <div class="left-side">
          <div class="first">
            <h3>Название блюда</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit</p>
          </div>
          <div class="second">
            <div class="info">
              <div>
                <p>Вес</p><span>300 гр</span>
              </div>
              <div>
                <p>Цена</p><span>120 сом</span>
              </div>
            </div>
            <div class="count">
              <div class="minus"></div>
              <input readonly="readonly" value="5"/>
              <div class="plus"></div>
            </div>
          </div>
          <div class="cartModalClose"></div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <h1> Контакты</h1>
        <div class="contact-info">
          <div class="right-side">
            <div class="adress">
              <h5>Бухара Ассорти</h5>
              <p>Медерова 46 пер. Улица№1</p><a href="tel:0555 55 55 55">0555 55 55 55</a>
            </div>
            <div class="adress">
              <h5>Бухара Ассорти</h5>
              <p>Медерова 46 пер. Улица№1</p><a href="tel:0555 55 55 55">0555 55 55 55</a>
            </div>
            <div class="adress">
              <h5>Бухара Ассорти</h5>
              <p>Медерова 46 пер. Улица№1</p><a href="tel:0555 55 55 55">0555 55 55 55</a>
            </div>
            <div class="adress">
              <h5>Бухара Ассорти</h5>
              <p>Медерова 46 пер. Улица№1</p><a href="tel:0555 55 55 55">0555 55 55 55</a>
            </div>
            <div class="adress">
              <h5>Бухара Ассорти</h5>
              <p>Медерова 46 пер. Улица№1</p><a href="tel:0555 55 55 55">0555 55 55 55</a>
            </div>
            <div class="adress">
              <h5>Бухара Ассорти</h5>
              <p>Медерова 46 пер. Улица№1</p><a href="tel:0555 55 55 55">0555 55 55 55</a>
            </div>
            <div class="adress">
              <h5>Бухара Ассорти</h5>
              <p>Медерова 46 пер. Улица№1</p><a href="tel:0555 55 55 55">0555 55 55 55</a>
            </div>
          </div>
          <div class="left-side">
            <div>
              <h5>Скачайте приложение</h5>
              <div class="social"><a href="#"><img src="img/svg/apple.svg"/></a><a href="#"><img src="img/svg/google.svg"/></a></div>
            </div>
            <div>
              <div class="social"><a href="#"><img src="img/svg/social1.svg"/></a><a href="#"><img src="img/svg/social2.svg"/></a><a href="#"><img src="img/svg/social3.svg"/></a></div><a href="#">developed by SunRise Studio</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

#source/pug/question.pug
extends _component/base

//- connect only custom css
block css

block title
    title="F.A.Q."

block content
    section
        .container
            #question
                .sidebar
                    .logo
                        img(src='img/png/logo2.png')
                    .question-side
                        a(href='#').delivery Условия доставки
                        a(href='#').active Вопрос 1
                        a(href='#').active Вопрос 2
                        a(href='#') Вопрос 3
                        a(href='#') Вопрос 4
                        a(href='#') Вопрос 5
                        a(href='#') Вопрос 6
                        a(href='#') Вопрос 7
                .main
                    include _component/breadcrumbs
                    .question-header
                        h1 F.A.Q.
                    .question-content
                        h5   Условия доставки
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non






//- connect only custom js
block scripts
